menu "IO logic support"
	config L74HC165
		depends on HAVE_SPI
		bool "L74HC165 parallel to serial shift register"
		
	config L74HC4051
		depends on HAVE_SPI
		bool "L74HC4051 multiplexer support"
		
	config L74HC595
		depends on HAVE_SPI
		bool "L74HC595 serial to parallel shift register"
		
	config PCF8574
		bool "PCF8574 I2C io expander"
endmenu
