menu "Display support"
	config ILI9340
		depends on HAVE_TWI
		bool "ILI9340 I2C display support"
	config ILI9340_SPI_NAME
		depends on ILI9340
		default SPI0_NAME
		string "ILI9340 SPI interface"
	config ILI9340_RST_PIN
		depends on ILI9340
		default "GPIO_NONE"
		string "ILI9340 RESET pin GPIO number"
	config ILI9340_CS_PIN
		depends on ILI9340
		default "GPIO_NONE"
		string "ILI9340 CS pin GPIO number"
	config ILI9340_DC_PIN
		depends on ILI9340
		default "GPIO_NONE"
		string "ILI9340 DC pin GPIO number"
		
	config LCDPCF8574
		depends on HAVE_TWI
		bool "LCD over PCF8572 I2C display support"
		
	config LEDMATRIX88
		bool "Led matrix support"
		
	config SSD1306
		depends on HAVE_TWI
		bool "SSD1306 I2C native driver support"
endmenu
