menu "Hardware"
	config HAVE_UART 
		bool
	config HAVE_UART0
		bool
	config HAVE_UART1
		bool
	config HAVE_SPI 
		bool
	config HAVE_SPI0
		bool
	config HAVE_SPI1 
		bool
	config HAVE_TWI
		bool
	config HAVE_TWI0
		bool
	config HAVE_TWI1
		bool
	config HAVE_TWI2
		bool
	config HAVE_TIMER0
		bool
	config HAVE_TIMER1
		bool
	config HAVE_TIMER2
		bool
	config HAVE_PWM0
		bool
	config HAVE_PWM1
		bool
	config HAVE_PWM2
		bool
		
	choice 
		prompt "Processor family"
	
		config AVR
			bool "Atmel AVR"
		
		config ARM
			bool "ARM"
			
		config NATIVE
			bool "Native"
			help 
				Attmept to compile code that will run on your current build system
			
	endchoice 
		
	menu "Processor type"
		source arch/avr/m328p/KConfig
		source arch/arm/stm32/KConfig
		source arch/arm/KConfig
		source arch/native/KConfig
	endmenu

	menu "UART config"
		depends on HAVE_UART
		config UART0_NAME
			depends on HAVE_UART0
			default "uart0"
			string "UART0 device name"
		config UART1_NAME
			depends on HAVE_UART1
			default "uart1"
			string "UART1 device name"
		config UART2_NAME
			depends on HAVE_UART2
			default "uart2"
			string "UART2 device name"
	endmenu

	menu "SPI config"
		depends on HAVE_SPI
		config SPI0_NAME
			depends on HAVE_SPI0
			default "spi0"
			string "SPI0 device name"
		config SPI1_NAME
			depends on HAVE_SPI1
			default "spi1"
			string "SPI1 device name"
		config SPI2_NAME
			depends on HAVE_SPI2
			default "spi2"
			string "SPI2 device name"
	endmenu

	menu "I2C config"
		depends on HAVE_TWI
		config TWI0_NAME
			depends on HAVE_TWI0
			default "twi0"
			string "TWI0 device name"
		config TWI1_NAME
			depends on HAVE_TWI1
			default "twi1"
			string "TWI1 device name"
	endmenu
		
endmenu
