menu "Hardware"
	choice 
		prompt "Target Architechture"
		
		config ARCH_AVR
			bool "Atmel AVR"
		
		config ARCH_ARM
			bool "ARM"
		
		config ARCH_XTENSA
			bool "Xtensa" 

		config ARCH_LINUX
			bool "Linux"
			help 
				Compile for linux
			
	endchoice 
		
	menu "Target Options"
		source arch/avr/KConfig
		source arch/arm/KConfig
		source arch/xtensa/KConfig
		source arch/linux/KConfig
	endmenu

		
endmenu
