menu "Hardware"
	config HAVE_ADC
		bool
	config HAVE_UART 
		bool
	config HAVE_UART0
		bool
	config HAVE_UART1
		bool
	config HAVE_SPI 
		bool
	config HAVE_SPI0
		bool
	config HAVE_SPI1 
		bool
	config HAVE_TWI
		bool
	config HAVE_TWI0
		bool
	config HAVE_TWI1
		bool
	config HAVE_TWI2
		bool
	config HAVE_TIMER0
		bool
	config HAVE_TIMER1
		bool
	config HAVE_TIMER2
		bool
	config HAVE_PWM0
		bool
	config HAVE_PWM1
		bool
	config HAVE_PWM2
		bool
		
	choice 
		prompt "Processor family"
	
		config AVR
			bool "Atmel AVR"
		
		config ARM
			bool "ARM"
			
		config NATIVE
			bool "Native"
			help 
				Attmept to compile code that will run on your current build system
			
	endchoice 
		
	menu "Processor type"
		source arch/avr/mega/KConfig
		source arch/arm/KConfig
		source arch/native/KConfig
	endmenu

		
endmenu
