menu "Motor driver support"
	config BLDCSENSORED
		bool "Sensored BLDC motor support"
	config BLDCSENSORLESS
		bool "Sensorless BLDC motor support"
	config DCMOTOR
		bool "DC motor support"
	config DCPWM
		bool "DC motor pwm support"
	config DCSOFTPWM
		bool "DC software pwm support"
	config PWM
		bool "Generic pwm support"
	config PWMMCD4017
		bool "MCD4017 PWM support"
	config STEPPER02
		bool "Stepper motor support"
endmenu
		
