menu "Network support"
	config ENC28J60
		bool "ENC28J60 SPI LAN Network Chip"

	config DHCP
		bool "DHCP protocol support"
		
	config DNS 
		bool "DNS protocol support"

	config RFNET
		depends on NRF24L01 && AES
		bool "RFNET radio protocol support"

	config TCPIP
		depends on ENC28J60
		bool "TCPIP/UDP/ICMP protocol support"
endmenu
